<div id="follower" class="follow-graphic"></div>
<div class="digits"></div>
<div id="users-online">
	<span id="usersOnline">1</span> Users Online
</div>
<div id="credits">
	<a target="_blank" href="http://omcfarlane.co.uk">Ollie McFarlane</a>
</div>